@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
.introduction__avatar__saudation{
    font-family: "Bungee Spice";
    font-size: 100px;
    text-align: center;
}
.introduction__avatar > span:nth-child(1){
    -webkit-transform: translateX(100%) translateY(10%) rotate(-40deg);
    transform: translateX(100%) translateY(10%) rotate(-40deg);
}
.introduction__avatar > span:nth-child(2){
    -webkit-transform: translateX(40%) translateY(7%) rotate(-24deg);
    transform: translateX(40%) translateY(7%) rotate(-24deg);
}
.introduction__avatar > span:nth-child(3){
    -webkit-transform: translateX(-20%) translateY(6%) rotate(-5deg);
    transform: translateX(-20%) translateY(6%) rotate(-5deg);
}
.introduction__avatar > span:nth-child(4){
    -webkit-transform: translateX(-20%) translateY(6%) rotate(-5deg);
    transform: translateX(-130%) translateY(6%) rotate(10deg);
}
.introduction__avatar > span{
    animation: blink 1s infinite normal;
}
/* @keyframes blink {
    0%{
        -webkit-transform: translateX(100%) translateY(10%) rotate(-40deg);
        transform: translateX(100%) translateY(10%) rotate(-40deg);
    }
    100% {
    }
} */